[data-scroll-type="fadein"] {
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="fadein"].is-active {
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="zoomin"] {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="zoomin"].is-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="fadeinTop"] {
  opacity: 0;
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="fadeinTop"].is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="fadeinBottom"] {
  opacity: 0;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="fadeinBottom"].is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="fadeinLeft"] {
  opacity: 0;
  -webkit-transform: translate(-80%, 0);
          transform: translate(-80%, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="fadeinLeft"].is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="fadeinRight"] {
  opacity: 0;
  -webkit-transform: translate(80%, 0);
          transform: translate(80%, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="fadeinRight"].is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="spinin"] {
  opacity: 0;
  -webkit-transform: translate(0, 0) rotate3d(1, 0, 1, -720deg);
          transform: translate(0, 0) rotate3d(1, 0, 1, -720deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

[data-scroll-type="spinin"].is-active {
  opacity: 1;
  -webkit-transform: translate(0, 0) rotate3d(1, 0, 1, 0);
          transform: translate(0, 0) rotate3d(1, 0, 1, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
